---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="High performance for large scale applications and serializable transactions guarantees for concurrent accesses to the same data.">
          EinsteinDB produces Index chunks which are replicated to edges, allowing it to run queries at in relativistic fashion.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Unified Key Format">
          schemas conflate semantic, structural, and datatype concerns
        </Feature>
        <Feature icon="mdi:looks" title="Write Amplificator:">
          EinsteinDB leverages its pre-trained transfer-learning capabilities based on a large language model. 
        </Feature>
        <Feature icon="mdi:eslint" title="Bulk Carrier">
          EinsteinDB incorporates a Layered Storage system that ensures efficient and reliable data management.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Post Quantum Stateless Hash based">
          combines various components such as VioletaBFT, IPFS Data layer, and FoundationDB's Record Layer to create a robust, fault-tolerant, and efficient data management infrastructure
        </Feature>
        <Feature icon="mdi:language-markdown" title="Cracking Columns and Sharding Causets">
          EinsteinDB's Distributed Zero-Shot Multi-Domain solution empowers businesses with advanced data management capabilities
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="immutable append-log">
          A Vectorized graph-structured workload model named a "Causet" is introduced to capture the features of query operators and their correlations using BerolinaSQL.
        </Feature>
        <Feature icon="mdi:cog" title="self-annealing in a trustless environment. ">
          EinsteinDB's Query Optimizer uses a cost-based model to estimate the cost of query plans and select the most efficient one.
        </Feature>
        <Feature icon="mdi:lighthouse" title="semantic-knowledge engine ">
          EinsteinDB’s revolutionary stateless hash function encodes a new method of storing data within the database system. 
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>A3C-Adversarial Policy Distillation</h2>
    <p class="text-2xl">
      Dynamic assets traceability for the Metaverse <a href="https://github.com/markteekman/accessible-astro-components"
        >Privacy Enforcement Models in Decentralized Online Social Networks</a
      >. The system is designed to be secure, scalable, and efficient.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Jumpstart your e-commerce journey with our boilerplate Git-backed infrastructure</h2>
    <p class="text-2xl">
      EinsteinDB is a distributed database system that provides high availability, fault tolerance, and scalability. It is designed to be easy to use and to provide high performance for a wide range of applications.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Experience the power of scalability and performance optimizations embedded within our platform. </h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
